.div_main {
    height: 100%;
    width: auto;
    max-width: 94.5%;
}


.marginOFF {
   margin-left: 265px;
   transition: 0.5s;
  }
  
  
.marginON {
    margin-left: 90px;
   transition: 0.5s;
   }
   