* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; //quitar espaciados de las cajas
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
  // text-decoration: none;
}

a {
  text-decoration: underline;
}



//funcion para remover el scroll del body
.removeScrollBody {
  overflow: hidden;
}
//quita el scroll de un div o box
.detscroll-hidden::-webkit-scrollbar {
  display: none;
}

$bluex: #0de26d;
