.card_content {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000;
  justify-content: center;
  background-color: rgb(206, 162, 162);
  padding: 1rem;
  width: 27rem;
  margin: 12px 20px;

  .img_card {
    margin: 0 auto;
    width: 50%;
    transition: all 0.5s ease-in-out;

  }

  .card_body {
    padding: 0.8rem;
    width: 100%;

    div {
      width: 100%;
      margin-bottom: 20px;

      .card_text {
        color: #424242;
      }

      .sub_text {
        font-size: 0.9rem;
      }
    }

    .card_btn {
      padding: 0.5rem 1.5rem;
      background-color: #111a9b;
      font-size: 1rem;
      text-align: center;
      color: #fff;
      font-weight: 600;
      border-radius: 15px;

      @media (max-width: 760px) {
        width: 80%;
        display: block;
        margin: 0 auto;
      }
    }
  }

  &:hover {
    background: #4380db;
    .img_card {
      // transform: translateX(25px);
      transform: scale(1.15);
      
    }
  }

  //responsive mobile
  @media (max-width: 760px) {
    flex-direction: column;
    text-align: center;

    .img_card {
      width: 55%;
    }
  }
}
