.card {
    background-color: rgb(206, 162, 162);

    img {
        margin: 0 auto;
        width: 70%;
    }

    .btn {
        background-color: #4380db;
        border-radius: 15px;
        width: 100%;
    }

}